<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>EASY WORK | Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="font-awesome.min.css" />
    </head>
    <body>
        <!-- ######################################### HEADER  ####################################################### -->
        <div class="wrapper clear row1" >
            <header id="logo-header" class=" hoc clearfix">
                <div class="fl-left">
                    <h1>EASY WORK</h1>
                    <h2>Il professonista perfetto per il tuo lavoro</h2>
                </div>                
                <div class="fl-right">
                    <a href="#" class="btn">Accedi</a>
                    <a href="#" class="btn">Per le aziende</a>
                </div>

            </header>
        </div>
        <!-- #####################################  NAV   ########################################################### -->
        <div >
            <div class="wrapper clear row2">
                <nav id="mainav" class="clear">
                    <ul class="clear">
                        <li><a href="#">home</a></li>
                        <li><a href="#">long link</a></li>
                        <li><a href="#">long link</a></li>
                        <li><a href="#">long link</a></li>
                        <li><a href="#">long link</a></li>
                        <li><a href="#">long link</a></li>
                        <li><a href="#">long link</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- #####################################  FORM   ########################################################### -->

        <div class="wrapper row3">
            <main class="hoc container clearfix"> 
                <!-- main body -->
                <form>
                    <h1>Formulazione della Richiesta</h1>
                    <label>Campo di testo 1</label>
                    <input type="text" name="input1">
                    <label>Campo di testo 2</label>
                    <textArea></textArea>
                    <label>Campo di testo 3</label>
                    <input type="radio">
                    <label>Campo di testo 4</label>
                    <input type="checkbox">
                    <label>Campo di testo 5</label>
                    <select></select>
                    <button class="btn" type="submit">INVIA</button>
                </form>
            </main>
        </div>


        <!-- #######################################  FOOTER  ###################################################### -->
        <div class="wrapper row4">
            <footer id="footer" class="hoc clearfix"> 

                <div class=" one_third">
                    <h6 class="heading">Arcu accumsan id felis</h6>
                    <ul class="nospace btmspace-30 linklist contact">
                        <li><i class="fa fa-map-marker"></i>
                            <address>
                                Street Name &amp; Number, Town, Postcode/Zip
                            </address>
                        </li>
                        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
                    </ul>                    
                </div>
                <div class="one_third">
                    <h6 class="heading">Sodales facilisis nisi</h6>
                    <ul class="nospace linklist">
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">Curabitur a pharetra</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                                <p class="nospace">Quis quam in hendrerit elit donec hendrerit sollicitudin imperdiet curabitur [&hellip;]</p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">Risus sit amet blandit</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
                                <p class="nospace">Ultricies aliquam nisi vitae pulvinar donec luctus ex ex eget ornare tortor [&hellip;]</p>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="one_third">
                    <h6 class="heading">Justo duis vulputate</h6>
                    <p class="nospace btmspace-30">commodo non proin fermentum neque sapien phasellus molestie tincidunt.</p>
                    <form method="post" action="#">
                        <input class="btmspace-15" type="text" value="" placeholder="Name">
                        <input class="btmspace-15" type="text" value="" placeholder="Email">
                        <button type="submit" value="submit" class="btn">Submit</button>
                    </form>
                </div>
            </footer>
            <footer id="copyright">
                <p>Copyright &copy; 2017 - All Rights Reserved - Easy Work, BetaDeltaPI team</p>
            </footer>
        </div>
    </body>
</html>

